body{
    background-image: url(https://images5.alphacoders.com/131/1311994.jpeg);
    
    background-size: cover;
    background-repeat: no-repeat;
   
    background-attachment: fixed;
}
.sub-header{
    text-align: center;
    color: white;
    padding-top: 100px;
   
}
.header-heading{
    text-align: center;
    color: white;
    font-size: 70px;
    line-height: 20px;
}
.btn{
   margin-left: 47%;
   padding: 10px 20px;
   border: 2px solid white;
   border-radius: 5px;
   background:none;

}
button:hover{
    background-color: white;
}

a:link {
    text-decoration: none;
    color: black;
}
